.left{
    width: 17%;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(215, 211, 211);    
    position: fixed;
}
.bodyimg{
  padding-left: 100px;
  padding-top: 40px;
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 200px;    
}
.bodyinner{
  width: 85%;
} 
.right{
    width: 30%;
    height: 100%;
    float: left;
}
.insta{
    padding-top: 40px;
}
.instaimg{
    width: 8rem; 
    height: 2.5rem;
}
ul {
    list-style-type: none;
    text-decoration: none;
  }
  .txt{
    font-size: 15px;
    padding-left: 10px;
  }
  .more{
    padding-top: 50px;
  }
  .img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    float: left;
    border: 2px solid;
    border-radius: 50%;
    border-color: white;
  }
  .img-border {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    border-radius: 50%;
    height: 4.3rem;
    width: 4.3rem;
    background: linear-gradient(to right,  rgb(255 153 0), rgb(220 0 180));
    padding: 3px;
    margin: 10px;
    float: left;
  }
  .imgtxt{
    font-size:x-small;
  }
  .icon{
    padding-top: 100px;
    padding-left: 80px;
  }
  .icon1{
    padding-top: 30px;
    padding-left: 80px;
  }
  .icon-img{
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    float: left;
    margin-top: 13px;
  }
  .icon-txt{
    font-size:small;
    padding-left: 50px;
  }
  .posts{
    height: 80%;
    width: 100%
  }
  .posts1{
    height: 550px;
    width: 100%
  }
  .wk{
    color: rgb(151, 151, 148);
    font-size: 11.5px;
  }
  .wkme{
    color: rgb(151, 151, 148);
    font-size: 13.5px;
  }
  .wksugst{
    color: rgb(151, 151, 148);
    font-size: small;
    font-weight: bold;
  }
  .reactions{
    padding-top: 10px;
  }
  .save-post{
    float: right;
  }
  .dots{
    float: right;
  }
  .tags{
    width: 480px;
  }
  .hashs{
    color: #0d61b0;
  }
  .smiley{
    float: right;
  }
  .imgtxt-right{
    font-size:small;
    padding-left: 4rem;
  }
  .follow{
    float: right;
    color: #0095f6;
  }
  .centr{
    width: 70%;
    height: 50px;
  }
  .centr1{
    width: 70%;
  }
  .right1{
    padding-top: 40px;
    
}
.img-right {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  float: left;
}
.right-footer{
  padding-top: 50px;
  padding-left: 20px;
  color: rgb(151, 151, 148);
  font-size: 12px;
}